<div class="row row-cols-1 row-cols-md-4 g-4">
  <div *ngFor="let product of products; let i = index">
    <div class="col">
      <!-- ['/detail'] app.routes.ts -->
      <a [routerLink]="['/detail', product.id]">
        <div class="card h-100">
          <img src="./assets/img/300x300.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{ product.name | truncate : 60 }}</p>
            <p>{{ product.description | truncate : 100 }}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
